/*----------------------------------------  Text */

body {
    background-color: powderblue;
    font-family: Georgia, Times New Roman, Times, serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
}

header {
    box-shadow: 0px 5px 7px #8db7bd;
    -webkit-box-shadow: 0px 5px 7px #8db7bd;
    -moz-box-shadow: 0px 5px 7px #8db7bd;
    /*height: 400px;*/
    background-color: #8db7bd;
    border-bottom: 1px solid #698b91
}

footer {
    box-shadow: 0px -5px 7px #8db7bd;
    -webkit-box-shadow: 0px -5px 7px #8db7bd;
    -moz-box-shadow: 0px -5px 7px #8db7bd;
    background-color: #8db7bd;
    border-top: 1px solid #698b91;
    position: relative;
}

h1 {
    font-size: 100px;
    font-weight: normal;
    margin: 0;
    font-family: 'Sansita One', cursive;
    color: #3a7eff;
    text-shadow: 0 2px 1px #000;
    line-height: 1;
}

h2 {
    font-size: 60px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 25px;
    text-shadow: 0 2px 1px #000;
    color: #FFB000;
    font-family: 'Sansita One', cursive;
}

h3 {
    font-size: 34px;
    font-weight: normal;
    margin: 0;
    color: #D92B00;
    text-shadow: 0 2px 1px #000;
    font-family: 'Sansita One', cursive;
}

p {
    margin: 20px auto;
    text-shadow: none;
    color: #222438;
}

h2 a {
    text-decoration: none;
    font-size: 60px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 25px;
    text-shadow: 0 2px 1px #000;
    color: #FFB000;
    font-family: 'Sansita One', cursive;
}

h2 a:hover {
    text-decoration: none;
}

h2 a:visited {
    color: #FFB000;
}

a, a:visited {
    color: #D92B00;
    font-weight: bold;
    font-style: italic;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
    text-shadow: none;
    line-height: 1.4;
}

ul li:before {
    content: "\2605\a0"
}

/** coding  block */
blockquote {
    text-align: left;
    margin: 10px auto;
    background: #131420;
    border-bottom: 2px solid #30334F;
    border-right: 2px solid #30334F;
    border-radius: 10px;
    padding: 5px 20px;
    color: white;
    font-family: menlo, monospace;
    word-wrap: break-word;
}

code {
    display: inline-block;
    font-style: normal;
    padding-left: 5px;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;

    background: #131420;
    text-shadow: none;
    font-size: 0.8em;
}

/*----------------------------------------  Images */

.initialize {
    background: url("../img/initialize.png") no-repeat scroll center center transparent;
    height: 244px;
    width: 100%;
    position: relative;
    z-index: 99;
    margin-left: 10px;
}

.lines-small {
    width: 300px;
    height: 150px;
    background-repeat: repeat-y;
    background: url("../img/lines-small.png");
    position: relative;
    left: 11px;
}

.lines-small-end {
    width: 300px;
    height: 950px;
    background-repeat: repeat-y;
    background: url("../img/lines-small.png");
    position: absolute;
    left: 361px;

}

.lines-big {
    width: 300px;
    height: 4395px;
    background-repeat: repeat-y;
    background: url("../img/lines-big.png");
    position: absolute;
    left: 360px;

}

.lines-open {
    width: 300px;
    height: 52px;
    background: url("../img/lines-open.png");
    position: relative;
    left: 11px;
}

.lines-close {
    width: 300px;
    height: 52px;
    background: url("../img/lines-close.png");
    position: relative;
    left: 11px;
}

.hotfix-end, .hotfix-start, .release-end, .release-start, .feature-end, .feature-start {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('../img/flow-sprites.png');
    background-color: rgba(173, 215, 223, 0.8);
    border: 2px dashed #008098;
    border-radius: 25px;
    width: 300px;
    height: 222px;
    position: relative;
    z-index: 99;

    box-shadow: 5px 5px 7px #8db7bd;
    -webkit-box-shadow: 5px 5px 7px #8db7bd;
    -moz-box-shadow: 5px 5px 7px #8db7bd;

}

.feature-publish {
    display: inline-block;
    background-repeat: no-repeat;

    background-color: rgba(173, 215, 223, 0.8);
    border: 2px dashed #008098;
    border-radius: 25px;
    width: 300px;
    height: 120px;
    position: relative;

    box-shadow: 5px 5px 7px #8db7bd;
    -webkit-box-shadow: 5px 5px 7px #8db7bd;
    -moz-box-shadow: 5px 5px 7px #8db7bd;
    background-image: url('../img/feature-publish.png');
    background-position: center;

}

.feature-pull {
    display: inline-block;
    background-repeat: no-repeat;

    background-color: rgba(173, 215, 223, 0.8);
    border: 2px dashed #008098;
    border-radius: 25px;
    width: 300px;
    height: 120px;
    position: relative;
    z-index: 99;
    margin-left: -21px;

    box-shadow: 5px 5px 7px #8db7bd;
    -webkit-box-shadow: 5px 5px 7px #8db7bd;
    -moz-box-shadow: 5px 5px 7px #8db7bd;
    background-image: url('../img/feature-pull.png');
    background-position: center;

}

.hotfix-end {
    background-position: 0px 0px;
}

.hotfix-start {
    background-position: 0px -222px;
}

.release-end {
    background-position: 0px -444px;
}

.release-start {
    background-position: 0px -666px;
}

.feature-end {
    background-position: 0px -888px;
}

.feature-start {
    background-position: 0px -1110px;
}

/*----------------------------------------  BLOCKS */

.col-1 {
    float: left;
    width: 320px;
}

.col-2 {
    float: right;
    width: 320px;
    margin-left: 30px;
}

#main {
    margin: 0 auto;
    position: relative;
    width: 670px;
}

.scrollblock {
    width: 100%;
    padding-top: 50px;
    position: relative;
    clear: both;
}

.divider, .accent {
    color: #69697A;
    text-shadow: none;
}

#title {
    margin: auto;
    padding-top: 40px;
    width: 670px;
    position: relative;
    z-index: 99;
}

#author {
    width: 80%;
    top: 230px;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    color: #D92B00;
    z-index: 100;
}

.twitter-share-button {
    position: relative;
    top: 8px;
    left: 4px;
}

#desc {
    top: 300px;
    width: 90%;
    text-align: center;
}

#translations {
    top: 340px;
    width: 80%;
    right: 5%;
    text-align: center;
}

#translations .active {
    text-decoration: none;
    cursor: default;
    color: #3a7eff;
}

#disqus_thread {
    width: 800px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

/*---------------------------------------- Github Banner */
#banner {
    height: 149px;
    width: 149px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
}

#banner a {

    display: block;
    width: 190px;
    font-size: 14px;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
    background-color: #333;
    color: #FFF;
    word-spacing: 2px;
    text-decoration: none;
    padding: 5px 15px 5px 25px;

    position: relative;
    left: 20px;
    top: -37px;
    text-align: center;

    -moz-transform-origin: 0 0;
    -moz-transform: rotate(45deg);
    -moz-box-shadow: 1px 1px 5px 1px #666;

    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    -webkit-box-shadow: 1px 1px 5px 1px #666;

    -ms-transform-origin: 0 0;
    -ms-transform: rotate(45deg);
    -ms-box-shadow: 1px 1px 5px 1px #666;

    transform-origin: 0 0;
    transform: rotate(45deg);
    box-shadow: 1px 1px 5px 1px #666;

    background-image: linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -o-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -moz-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -webkit-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -ms-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.03, #000000), color-stop(0.05, #666666), color-stop(0.07, #000000), color-stop(0.93, #000000), color-stop(0.95, #666666), color-stop(0.97, #000000));

}

