*{
    font-family: Tahoma,Calibri,sans serif !important;
}
.rtl {
    direction: rtl !important;
}

p, h1, h2, h3, li, ul, span {
    direction: rtl !important;
}

#banner {
    left: 0;
}

#banner a {
    display: block;
    width: 190px;
    font-size: 14px;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
    background-color: #333;
    color: #FFF;
    word-spacing: 2px;
    text-decoration: none;
    padding: 11px 14px 4px 44px;
    position: relative;
    left: -27px;
    top: 128px;
    text-align: left;
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-45deg);
    -moz-box-shadow: 1px 1px 5px 1px #666;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
    -webkit-box-shadow: 1px 1px 5px 1px #666;
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-45deg);
    -ms-box-shadow: 1px 1px 5px 1px #666;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: 1px 1px 5px 1px #666;
    background-image: linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -o-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -moz-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -webkit-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -ms-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.03, #000000), color-stop(0.05, #666666), color-stop(0.07, #000000), color-stop(0.93, #000000), color-stop(0.95, #666666), color-stop(0.97, #000000));
}